// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

// RESET DEFAULT CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: hidden; 
}


// ================= VARIAVEIS ================

:root{
    --df-font-family: 'Poppins', sans-serif; 
    --banner-font: 'Dancing Script', sans-serif;
    --bg-header-footer: #363531;
}



// ================= HEADER STYLE ================
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    color: white;
    background-color: var(--bg-header-footer); 
    font-family: var(--df-font-family);
}

.header__nav{
    width: 30vw;
}


.nav__ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__ul a{
    text-decoration: none;
    color: antiquewhite;
}

.nav__ul li{
    list-style: none;
}



// ================ BANNER STYLE ================
.main__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    color: antiquewhite;
    background: rgb(163,128,104);
    background: radial-gradient(circle, rgba(163,128,104,1) 5%, rgba(0,0,0,1) 100%);
    font-family: var(--banner-font);
    font-size: 3rem;
}



// ====================== FORM STYLE ================
.main__form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    background-color: #23263d;
    font-family: var(--df-font-family);
}

.form{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: antiquewhite;
    border-radius: 1rem;
}

.form__style{
    width: 20vw;
}

.form__item{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.form__item input{
    padding: 0.5rem;
}

#form__button{
    margin: 1rem 0 1rem 0;
    width: 10rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: antiquewhite;
}

#form__button:hover{
    transform: scale(1.2);
    transition: ease-in-out;
}




// =========== GALLERY STYLE =============
.main__gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100vw;
    height: auto;
    background: rgb(163,128,104);
    font-family: var(--df-font-family);
}

.gallery__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    min-height: 80vh;
    margin: 1rem;
    padding: 1rem;
    background-color: #23263d;
    color: antiquewhite;
}

.gallery__card img{
    width: 27vw;
    height: 30vh;
}





// =================== FOOTER STYLE ==============
.footer{
    width: 100vw;
    height: 25vh;
    background-color: #363531;
    padding: 1.5rem;
    font-family: var(--df-font-family);
}

.footer__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__link{
    background-color: #9d9fa6;
    color: black;
    height: 20vh;
    padding: 1rem;
}

.footer__link a{
    text-decoration: none;
    color: black;
}



// ============== MEDIA QUERY ==============

@media screen and (max-width: 667px) {

    .header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 15vh;
    }

    .header__logo h1{
        font-size: 1.5rem;
        padding: 1rem;
    }

    .header__nav{
        width: 50vw;
        height: 15vh;
        margin-right: 0.5rem;
        padding: 1rem;
    }

    .nav__ul li{
        font-size: 1rem;
    }

    .main__banner{
        font-size: 2.5rem;
    }
    
    .form{
        width: 65vw;
    }

    .footer{
        height: 45vh;
        padding: 0.5rem;
    }

    .footer__link{
        width: 30vw;
        height: 43vh;
    }
}


@media (max-width: 900px){
    .form{
        width: 50vw;
    }
}