@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 10vh;
  color: white;
  background-color: #363531;
}

.header__nav {
  width: 30vw;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__ul a {
  text-decoration: none;
  color: antiquewhite;
}

.nav__ul li {
  list-style: none;
}

.main__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 90vh;
  color: antiquewhite;
  background: #a38068;
  background: radial-gradient(circle, #a38068 5%, black 100%);
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: #23263d;
}

.form {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: antiquewhite;
  border-radius: 1rem;
}

.form__style {
  width: 15vw;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  position: relative;
}

.form__item input {
  padding: 0.5rem;
}

#form__button {
  margin: 1rem 0 1rem 0;
  width: 10rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
}

#form__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.main__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #a38068;
}

.gallery__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25vw;
  height: 80vh;
  margin: 2rem;
  background-color: #23263d;
}

.card__image img {
  width: 22vw;
  height: 20vh;
}

.footer {
  width: 100vw;
  height: 25vh;
  background-color: #363531;
  padding: 1.5rem;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link {
  background-color: #9d9fa6;
  color: black;
  height: 20vh;
  padding: 1rem;
}

.footer__link a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 667px) {
  .header__logo h1 {
    font-size: 1.5rem;
  }
  .nav__ul li {
    font-size: 0.5rem;
  }
  .form {
    width: 65vw;
  }
}
/*# sourceMappingURL=style.css.map */